.shichi_banner{width: 100%;height: 400px; background: url(../img/canguan.jpg) no-repeat;background-size: cover;background-position: center center;}
.canguan_shjichi{background: #f7f8f8;padding-top: 90px;padding-bottom: 60px;}

.fengexian{width: 100%;height: 25px;border-bottom: 1px solid #d5d5d5;background: url(../img/bg_colo.jpg) repeat;}
